In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./dataset/TS2000_기업데이터셋.csv',encoding='cp949')

In [4]:
len(df['회사명'])

50616

In [5]:
len(df[df['소속코드']==4]['회사명'])

8936

In [6]:
len(df['회사명']) - len(df[df['소속코드']==4]['회사명'])

41680

In [66]:
df1 = df[df['회계년도'].str.contains('2022')]
df1 = df1[df1['소속코드']==4]
df1.reset_index(drop=True,inplace=True)
df1.to_csv('./dataset/상장폐지기업데이터/2022_close_data.csv')

In [97]:
df2 = df[df['회계년도'].str.contains('2023')]
df2 = df2[df2['소속코드']!=4]
df2.reset_index(drop=True,inplace=True) 
df2.to_csv('./dataset/건실기업_데이터/2023_data.csv')

In [13]:
CP = pd.DataFrame({'정상기업':[2275, 41680],
                             '부도기업':[936, 8936],
                             '총 기업':[3211, 50616]},
                             index=['기업 수','데이터 수'])

In [14]:
CP

        정상기업  부도기업   총 기업
기업 수    2275   936   3211
데이터 수  41680  8936  50616